!!!5
%html
  %head
    %title
      = yield :page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      =image_tag('IMG_2553.JPG', {:class => 'logo_img'})
      %div.container
        %nav{:class => 'navbar navbar-expand-md navbar-light',
          :style => 'background-color: #e3f2fd;'}
          %button{:class=>'navbar-toggler navbar-toggler-right',
           :type => 'button',
           :'data-toggle' => 'collapse',
           :'data-target' => '#navbarNav',
           :'aria-controls' => 'navbarNav',
           :'aria-expanded' => 'false',
           :'aria-label' => 'Toggle navigation'}
            %span{:class=>'navbar-toggler-icon'}
          %a.navbar-brand TODO image
          %div{:class => 'collapse navbar-collapse', :id => 'navbarNav'}
            %div.navbar-nav
              =link_to t('menu.main'), '#', {:class => 'nav-item nav-link'}
              =link_to t('menu.contacts') , '#', {:class => 'nav-item nav-link'}
              =link_to t('menu.blog'), '#', {:class => 'nav-item nav-link'}
              =link_to t('menu.about'), '#', {:class => 'nav-item nav-link'}
        -#%li{:role => 'presentation', :class => 'dropdown'}
        -#  =link_to 'Dropdown', {:class => 'dropdown-toggle',
        -#   :'data-toggle' => 'dropdown',
        -#   :href => '#',
        -#   :role => 'button',
        -#   :'aria-haspopup' => true,
        -#   :'aria-expanded' => false} do
        -#    %span.caret
        -#  %ul.dropdown-menu
        -#    %li trololo
        -#    %li trololo

    %main{:class => 'container', :role => 'main'}
    = yield
    %div{:id=>'footer'}
      %div.navbar-inner
        %div.container
          %span.text-muted
            =t('footer')